.Portfolio {
    text-align: center;
    background-color: #000;
    color: white;
    padding: 20px;
    
  }
  
  
  h1 {
    font-size: 3em;
  }
  
  .project-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    /* margin-left:0.5rem ; */
    /* margin-right: 1rem ; */
  }
  
  .project {
    background-color: #ffffff19;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    width: "100%"; 
    height: 250px; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
  }
  
  .image-container {
    width: 100%;
    height: 70%; /* Adjust as needed */
    /* overflow: auto; */
  }
  
  .project img {
    width: 100%;
    height: auto; /* Ensure the image scales properly */
  }
  
  .project p {
    padding: 20px;
    padding-bottom:40px ;
    text-align: center;
    height: 0px;
    background-color: #00000080;
    
  }
  
  .show-more {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2em;
    margin-top: 20px;
  }
  
  .show-more:hover {
    background-color: #555;
  }

  .container3 {
    position: relative;
    text-align: center;
    color: white;
    margin-bottom: 50px;
}
.container3 img {
    width: 120px;
    position: absolute;
    bottom: -32PX;
    right: 430px;
    
}
.container3 h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3em;
    margin: 0;
}
  